<p>
    <strong>Models of Authority: Scottish Charters and the Emergence of Government</strong> is a resource for the study of the contents, 
    script and physical appearance of the corpus of Scottish royal charters which survives from 1100–1250. 
    Through close examination of the palaeographic features of the charters, the project will explore the evidence for developments 
    in the practices and perception of royal government during a crucial period in Scottish history.
</p>
<p>
    It currently contains:
</p>
<ul>
    <li>{{ statistic.manuscripts }} <a href='/digipal/search/?from_link=true&s=1'>records of manuscripts and charters</a></li>
    <li>{{ statistic.images }} <a href='/digipal/page/'>manuscript images</a></li>
    {# <li>{{ statistic.graphs }} <a href="/digipal/search/?from_link=true&amp;s=1&amp;result_type=graphs">images of letters (graphs)</a></li> #}
    {# <li>{{ statistic.hands }} <a href="/digipal/search/?terms=+&amp;basic_search_type=hands">records of scribal hands</a>.</li> #}
</ul>
<p>
    The project is funded by the AHRC (2014-2017) and is a collaboration between scholars 
    from the Universities of Glasgow, Cambridge and King's College London
</p>
<p>
    <strong>
          <a href="/about">Read More</a>
        | <a href="/digipal/search/">Start Searching</a>
        | <a href="/digipal/page/">Browse Images</a>
        | <a href="/help/">How to Use</a>
    </strong>
</p>
